<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<div th:fragment="header-authenticated">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                <span sec:authorize="isAuthenticated()" th:text="${'Witaj ' + #authentication.name}" class="btn btn--small btn--without-border">POWITANIE</span>
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li><a th:href="@{/}" class="btn btn--without-border active">Start</a></li>
            <li><a th:href="@{/donation/new}" class="btn btn--without-border active">Przekaż dary</a></li>
            <li><a href="index.html#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="index.html#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="index.html#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="index.html#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

</div>
</body>
</html>