<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>403</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<header class="header--form-page">
    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header-authenticated"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/header-anonymous :: header-anonymous"></div>


    <div class="slogan container container--90">
        <h2>Access denied!</h2>
    </div>
</header>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
