<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body>
<header>
    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header-authenticated"></div>
    <div sec:authorize="!isAuthenticated()" th:replace="fragments/header-anonymous :: header-anonymous"></div>

</header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form method="post" th:object="${passwordForm}">
        <div th:if="${#fields.hasAnyErrors()}">
        <span style="color:red;" th:each="error : ${#fields.errors('global')}" th:text="${error}">
            Usuń wymienione problemy i spróbuj ponownie.
        </span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="Hasło"/>
            <span style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">ERROR</span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{passwordConfirmation}" placeholder="Powtórz hasło"/>
            <span style="color:red;" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">ERROR</span>
        </div>

        <div class="form-group form-group--buttons">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button class="btn" type="submit">Zmień hasło</button>
        </div>
    </form>
</section>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
